@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow-lg {
    text-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  }
  
  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}